// Widescreens
@include mediaXl {
  #work{
    height: 100vh;
  }
}

// Desktops & Laptops
@include mediaLg {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

// Tablets & Small Laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  ul.menu-nav,
  div.menu-branding {
    float: none;
    width: 100%;
    min-height: 0;

    &.show {
      transform: translate3d(0, 0, 0);
    }
  }

  .menu-nav {
    height: 75vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  .menu-branding {
    height: 25vh;
    transform: translate3d(100%, 0, 0);

    .portrait {
      background: url('../img/sangye.jpg') center no-repeat;
      background-size: cover;
      width: 150px;
      height: 150px;
    }
  }

  #about-landing {
    h1 {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: 32px;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 26px;
      font-weight: 400;
      letter-spacing: 2px;
      line-height: 36px;
      margin: 30px;
    }

    a {
      margin-bottom: 40px;
      font-size: 16px;
      padding: 20px;
    }
  }
  #work {
    display: grid;
    background:url("../img/background.jpg");
    background-size: cover;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    grid-template-columns: 1fr;
  }

  .company-info {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
    border-top-right-radius: 0px;
  }

  .contact {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0;
  }

  .row{
    margin: 0;
    padding: 0;
  }
}


// Smartphones
@include mediaSm {
  main {
    padding: 2rem;
    #home h1 {
      margin-top: 10vh;
    }

    .lg-heading {
      margin-top: 1rem;
      font-size: 5rem;
      font-size: 38px;
    }

    .sm-heading {
      margin-top: 2rem;
      font-size: 20px;
    }
  }

  #about-landing {
    h1 {
      font-size: 32px;
      font-weight: 700;
      letter-spacing: -1px;
      line-height: 32px;
      margin-bottom: 5px;
    }

    h2 {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 24px;
      margin: 30px;
    }

    a {
      margin-bottom: 50px;
      font-size: 16px;
      padding: 10px;
    }
    
  }

  #work {
    display: grid;
    grid-template-columns: 1fr;
  }

  .company-info {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 20px;
  }

  .contact {
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }
}

